:root {
    --nav-blue: rgb(25 146 212);
    --art-yellow: rgb(240, 180, 40);
    font-family: Roboto;
}

body {
    display: grid;
    grid-template-columns: 1fr  6fr;
    height: 100vh;
    margin: 0;
}

li {
    margin-left: 1em;
    margin-bottom: .25em;
}

ul, .dashboard-link {
    list-style-type: none;
    padding: 0;
    margin: 2em 1em;
}

.dashboard-h2-text {
    margin: 0;
}

.dashboard-nav {
    background-color: var(--nav-blue);
    min-width: 250px;
}

.dashboard-nav a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 4px 0;
    font-weight: bold;
}

.container {
    background-color: lightgray;
}

.icon {
    height: 2em;
    width: 2em;
}

.icon-dashboard {
    height: 3em;
    width: 3em;
}